@use '../../lib/service.scss' as s;

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  font-size: s.size(20);
  font-weight: bold;
  color: s.color(primary);
  margin-bottom: s.space(8);
  margin-left: s.space(2);
  padding: s.space(4);
}

.card {
  display: flex;
  flex-direction: column;
  padding: s.space(4);
  margin: s.space(4);
  gap: s.space(8);
  border: 1px solid s.color(light);
  box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100%;
  max-width: fit-content;
  min-width: 720px;

  &__title {
    font-size: s.size(14);
    font-weight: bold;
    margin-left: s.space(2);
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: s.space(2);
  }

  &__field {
    display: grid;
  }

  &__input {
    border: 1px solid s.color(light);
    padding: s.space(2);
    border-radius: 4px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: s.space(2);
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: s.space(4);
  }
}

.form__label {
  font-size: s.size(8);
  color: s.color(dark_light);
  margin-left: s.space(2);
  padding-bottom: s.space(2);
}

.card__textarea {
  min-height: 80px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

.form__info {
  font-size: s.size(7);
  margin-left: s.space(2);
  color: s.color(medium_light);
}

.button {
  text-align: center;
  width: 100%;
  border: 1px solid s.color(grey);
  border-radius: 4px;
  color: s.color(white);

  &__add {
    border: 1px solid s.color(primary);
    background-color: s.color(primary);
    font-weight: 300;
    font-size: s.size(7);
    padding: 8px;
    text-decoration: none;
  }

  &__del {
    border: 1px solid s.color(warning);
    background-color: s.color(warning);
    font-weight: 300;
    font-size: s.size(7);
    padding: 8px;
    text-decoration: none;
  }
}

.button:hover {
  opacity: 0.8;
}
