<div class="position">
	<div class="form">
		<div class="form__content">
			<div class="form__field">
				<h2 class="form__label">{{title}}</h2>
				<div class="form__info">{{info}}</div>
			</div>
		</div>
		<a href="/product-list" class="form__button">Повернутися назад</a>
	</div>
</div>