<main class="main">
	<section>
		<div class="list">
			<h1 class="title">Список товарів</h1>
			<div class="products-list">
				{{#with data.products}}
				{{#if isEmpty}}
				<mark>Список товарів пустий</mark>
				{{else}}
				{{#each list}}
				{{>product-card data=this}}
				{{/each}}
				{{/if}}
				{{/with}}
			</div>
		</div>
		<div class="button">
			<a href="/product-create" class="button__add"> Додати новий товар </a>
		</div>
	</section>
</main>