<div class="position">
	<div class="form">
		<div class="form__content">
			<div class="form__field">
				<h2 class="form__label">{{data.message}}</h2>
				<div class="form__info">{{data.info}}</div>
			</div>
		</div>
		<a href="{{data.link}}" class="form__button">Повернутися назад</a>
	</div>
</div>